.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  background: #eee;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
}

.wallet_info_block {
  grid-column: span 2;
  border: 2px solid #bbbbbb;
  border-radius: 0.3em;
  text-shadow: 3px 2px 1px #f7f7f7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.3em;
  grid-gap: 0.3em;
  text-align: center;
  .alert {
    margin: 0;
    padding: 0.3em 0;
  }
}
.balance {
  grid-column: span 2;
}

.expenses_block {
  background: #eee;
  border: 2px solid #bbb;
  padding: 0.3em;
  border-radius: 0.3em;

  .interface-toggle-exp {
    display: none;
  }
  .accordion {
    margin-top: 0.5em;
  }
}
.expenses_input {
  display: grid;
  grid-gap: 0.3em;
  grid-template-columns: 70% 28%;
}
.card-body {
  display: grid;
}
#headingOne,
#headingTwo,
#headingThree,
#headingFour,
#headingFive {
  padding: 0;
}

.income_block {
  background: #eee;
  border: 2px solid #bbb;
  border-radius: 0.3em;
  padding: 0.3em;

  .interface-toggle-inc {
    display: none;
  }
}
.income_input {
  display: grid;
  grid-template-columns: 80% 18%;
  grid-gap: 0.3em;

  .btn-add-income {
    padding: 0;
  }
}
.income_comment {
  grid-column: span 2;
}
.income_list {
  padding: 1em 1em 0 1em;
}

@media screen and (max-width: 768px) {
  .expenses_input {
    grid-template-columns: 1fr;
  }

  .wallet_info_block {
    grid-template-columns: 1fr;
    .balance {
      grid-column: span 1;
    }
  }

  .expenses_block {
    width: 190%;
    z-index: 1;
    margin-top: 2.5em;
    .interface-toggle-exp {
      color: #fff;
      width: 100%;
      text-shadow: 3px 2px 1px #aaaaaa;
      font-weight: bold;
      font-size: 23px;
      padding-left: 0.4em;
      height: 1.7em;
      width: 100%;
      background-color: #d6d8d9;
      border-radius: 0.3em 0.3em 0 0;
      border: 1px solid #bbbbbb;
      display: inline-block;
      margin-bottom: 0.3em;
      input {
        opacity: 0;
      }
    }
  }
  .choose-inc {
    z-index: 1;
  }

  .income_block {
    width: 190%;
    margin-left: -90%;
    .interface-toggle-inc {
      color: #fff;
      width: 100%;
      text-shadow: 3px 2px 1px #aaaaaa;
      font-weight: bold;
      font-size: 23px;
      text-align: end;
      padding: 0 .4em;
      height: 1.7em;
      width: 100%;
      background-color: #d6d8d9;
      border-radius: 0.3em 0.3em 0 0;
      border: 1px solid #bbbbbb;
      display: inline-block;
      margin-bottom: 0.3em;
      user-select: none;
      span {
        margin-top: .3em;
      }
      input {
        opacity: 0;
      }
    }
  }
}
