.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  background: #eee;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
}

.wallet_info_block {
  grid-column: span 2;
  border: 2px solid #bbbbbb;
  border-radius: 0.3em;
  text-shadow: 3px 2px 1px #f7f7f7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.3em;
  grid-gap: 0.3em;
  text-align: center;
  .alert {
    margin: 0;
    padding: 0.3em 0;
  }
}
.balance {
  grid-column: span 2;
}

.expenses_block {
  background: #eee;
  border: 2px solid #bbb;
  padding: 0.3em;
  border-radius: 0.3em;

  .interface-toggle-exp {
    display: none;
  }
  .accordion {
    margin-top: 0.5em;
  }
}
.expenses_input {
  display: grid;
  grid-gap: 0.3em;
  grid-template-columns: 70% 28%;
}
.card-collapse {
  max-height: 15em;
  overflow-y: scroll;
  .card-body {
    height: 100%;
  }
}
#headingOne,
#headingTwo,
#headingThree,
#headingFour,
#headingFive {
  padding: 0;
}

.income_block {
  background: #eee;
  border: 2px solid #bbb;
  border-radius: 0.3em;
  padding: 0.3em 0.3em 1em 0.3em;

  .interface-toggle-inc {
    display: none;
  }
}
.income_input {
  display: grid;
  grid-template-columns: 80% 18%;
  grid-gap: 0.3em;

  .btn-add-income {
    padding: 0;
  }
}
.income_list {
  padding: 1em 1em 0 1em;
}

.bar {
  height: 1.5em;
  font: 10px sans-serif;
  text-align: right;
  padding: .3em;
  margin: .2em;
  color: white;
  &:nth-child(1) { background-color: #6c757d; }
  &:nth-child(2) { background-color: #75808a; }
  &:nth-child(3) { background-color: #828d97; }
  &:nth-child(4) { background-color: #93a0ac; }
  &:nth-child(5) { background-color: #9dabb8; }
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
  .expenses_input {
    grid-template-columns: 1fr;
  }

  .wallet_info_block {
    grid-template-columns: 1fr;
    grid-column: span 1;
    .balance {
      grid-column: span 1;
    }
  }

  .expenses_block {
    // width: 190%;
    // z-index: 1;
    // margin-top: 2.5em;
    .label-exp-block {
      color: #fff;
      width: 100%;
      text-shadow: 3px 2px 1px #aaaaaa;
      font-weight: bold;
      font-size: 23px;
      padding-left: 0.4em;
      height: 1.7em;
      background-color: #d6d8d9;
      border-radius: 0.3em 0.3em 0 0;
      border: 1px solid #bbbbbb;
      display: inline-block;
      margin-bottom: 0.3em;
    }
  }

  .income_block {
    // width: 190%;
    // margin-left: -90%;
    .label-inc-block {
      color: #fff;
      width: 100%;
      text-shadow: 3px 2px 1px #aaaaaa;
      font-weight: bold;
      font-size: 23px;
      text-align: end;
      padding: 0 0.4em;
      height: 1.7em;
      background-color: #d6d8d9;
      border-radius: 0.3em 0.3em 0 0;
      border: 1px solid #bbbbbb;
      display: inline-block;
      margin-bottom: 0.3em;
    }
  }
}